APP_NAME=
APP_ENV=
APP_DEBUG=
API_URL=

# Pusher Configuration
PUSHER_APP_KEY=
PUSHER_CLUSTER=

# Sentry error logging
MIX_SENTRY_DSN_PUBLIC=

# Github Personal Access Token
GH_TOKEN=""

# Apple sign
APPLE_ID=""
