APP_NAME=
APP_ENV=
APP_DEBUG=
API_URL=

# Pusher Configuration
PUSHER_APP_KEY=
PUSHER_CLUSTER=

# Sentry error logging
MIX_SENTRY_DSN_PUBLIC=

# GIPHY API KEYS
GIPHY_API_KEY=

# Fullstory
FULLSTORY_ORG_ID=""

# AnnounceKit
AK_WIDGET_URL=

# URL Shortener
URL_SHORTENER_DOMAIN="alwr.io"
