@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import 'fonts.scss';
@import 'variables.scss';
@import 'svg.scss';

html {
  overflow-y: hidden;
}

body {
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
}

html,
body,
#q-app {
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: lighten($grey-light, 10%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-light;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $green;
}

.row {
  &.q-field,
  &.q-field__control-container,
  &.q-field__control,
  &.q-field__control-container,
  &.q-notification__wrapper,
  &.q-notification__content,
  &.q-btn__wrapper,
  &.q-btn__content,
  &.q-avatar__content,
  &.q-item,
  &.q-field__native,
  &.q-chip__content,
  .q-field__inner {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
  &.q-input {
    padding: 0 0;
    .q-field__prepend {
      height: auto;
      margin-left: 7px !important;
      & + .q-field__control-container {
        .q-field__native {
          padding-left: 5px !important;
        }
      }
    }
    .q-field__control {
      height: 100%;
      margin-top: 2px;
      .q-field__native {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  &.q-chip {
    padding-left: 5.6px !important;
    padding-right: 5.6px !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
  }
  &.q-notification {
    margin-left: 0;
    margin-right: 15px;
  }
  .q-field__native,
  .q-field:not(.q-field--float) .q-field__label,
  .q-item__label {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .q-field.q-field--float .q-field__label {
    padding-right: 20px;
    padding-left: 20px;
  }
  .q-field__append {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 8px;
  }
  .q-field__bottom {
    padding-top: 3px;
  }
  .q-field__messages {
    flex: auto !important;
    width: 100% !important;
  }
}

.guest {
  .page-container {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
  }
}

.default-bg {
  background-color: $dark;
}

@media (max-width: 992px) {
  .page-title {
    font-size: 22px !important;
  }
}

@media (min-width: 992px) {
  .dashboard {
    header {
      left: 60px;
    }
    .sidebar-wrapper,
    .sidebar-wrapper > aside {
      display: block !important;
    }
    .sidebar-wrapper {
      width: 60px;
    }
    .sidebar-wrapper > aside {
      transform: translateX(0px) !important;
      visibility: visible !important;
    }
  }
}

@media (max-width: 575px) {
  .page-header {
    left: 0 !important;
  }
  .sidebar-active {
    .page-container {
      padding-left: 0 !important;
    }
  }
}

@media (max-width: 480px) {
  .sidebar-wrapper-sm {
    max-width: 38px;
  }
}

.page-layout {
  padding-bottom: 78px;
}

.dashboard {
  .page-container {
    .row {
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.rectangle {
  box-sizing: border-box;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  &:not(.q-field--highlighted) {
    border: 1px solid #d2d2d2;
  }
  input {
    color: #202125;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    line-height: 19px;
  }
  .q-field__label {
    opacity: 0.9;
    color: #666666;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
  }
  .q-field__inner .q-field__control:before {
    border: none !important;
  }
  .q-field__inner .q-field__control:after {
    border-radius: 10px;
    top: -1px;
    height: 59px;
  }
}

.checkbox {
  .q-checkbox__inner .q-checkbox__bg {
    border-radius: 4px;
  }
  .q-checkbox__inner:not(.text-positive) .q-checkbox__bg {
    border: 1px solid #d2d2d2;
  }
  .q-checkbox__inner.text-positive .q-checkbox__bg {
    border: 1px solid $positive;
  }
}

.title {
  color: #202125;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.35px;
  line-height: 36px;
}

.description {
  color: #e4e4e4;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  letter-spacing: 0.19px;
  line-height: 22px;
  text-align: center;
}

.description-sm {
  color: #999999;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  a {
    color: $positive;
  }
}

.small-text {
  color: #202125;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 16px;
  .status-label {
    margin-top: -15px;
  }
}

.xs-text {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  letter-spacing: 0.25px;
  line-height: 13px;
}

.link {
  height: 18px;
  width: 107px;
  color: #256eff;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
}

.mb-30 {
  margin-bottom: 30px;
}

.remember-me {
  color: #666666;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
}

.button {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 19px;
  text-align: center;
  border-radius: 8px;
  .q-btn__wrapper,
  .q-btn__content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .q-btn__wrapper:before {
    box-shadow: none;
  }
}

.thank-you-container {
  width: 380px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 4px 20px 0 rgba(21, 22, 63, 0.2);
  .message {
    color: #666666;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
  }
}

.rounded-icon-opaque {
  border-radius: 32px;
  box-shadow: 0 0 0 8px rgba(0, 191, 74, 0.2);
}

.page-header {
  width: auto;
  height: 66px;
}

.page-sidebar {
  height: 100%;
  background-color: #15163f;
  .nav-icons {
    &:not(.active) {
      opacity: 0.5;
    }
  }
}

.page-footer {
  height: 78px;
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.1);
  .tab-icons {
    .q-tab__icon {
      height: 20px;
    }
    .q-tab__label {
      font-family: 'Inter', sans-serif;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 13px;
      text-align: center;
      margin-top: 5px;
    }
  }
  .q-tab {
    padding: 0 0 0 0;
    text-decoration: none;
  }
  .q-tabs {
    margin-left: 0;
    margin-right: 0;
  }
  .separator {
    width: 134px;
  }
  .dialpad {
    .q-tab__icon {
      width: 40px;
      height: 40px;
      color: #ffffff;
    }
  }
}

.sidebar-wrapper,
.sidebar-wrapper > aside {
  max-width: 60px;
}

.separator-blur {
  opacity: 0.2;
}

.h1,
.h2,
.page-title {
  font-family: 'Inter', sans-serif;
  color: #202125;
  letter-spacing: 0.29px;
  margin-bottom: 0 !important;
}

.h1,
.page-title {
  font-size: 26px;
  line-height: 28px;
}

.h2 {
  font-size: 22px !important;
  line-height: 28px !important;
}

.page-icon,
.mobile-menu {
  display: none;
}

.profile-menu {
  .q-btn-dropdown__arrow {
    font-size: 0.8em;
  }
}

.avatar {
  border-radius: 17px;
  width: 34px;
  height: 34px;
  display: inline-block;
  font-size: 13px;
  & > span {
    vertical-align: middle;
  }
}

.inactive {
  color: $inactive;
}

.b-compact-dropdown-button {
  height: 24px;
  button {
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }

  .dropdown-item {
    font-size: 0.75rem;
  }
}

.badge-tag{
  background: transparent;
  font-weight: 500;
  border: 1px solid #dee2e6;
  margin-right: 5px;
}

.badge-tag-primary {
  color: #1976D2;
}

.btn-bg-transparent{
  background: transparent;
}

.btn-b-0 {
  border: none;
}

.dropdown.bg-transparent > button.dropdown-toggle {
  background: transparent;
}

.dropdown.b-0 > button.dropdown-toggle {
  border: none;
}

.dropdown.bg-transparent > button.dropdown-toggle:hover,
.dropdown.b-0 > button.dropdown-toggle:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.width-300 {
  width: 300px;
}

.width-0 {
  width: 0;
}

.popover {
  font-family: 'Inter', sans-serif !important;
}

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.badge-tag {
  font-size: 0.80em;
  max-width: 250px;
  padding-right: 8px;
  text-align: left;
}

.custom-link{
  font-size: 0.8em;
  color: $blue;
  i {
    margin-top: -1px;
  }
}

.contact-edit-popovers {
  left: -298px !important;
  width: 300px;
}

.message {
  display: flex;
  justify-content: flex-start;
  .text-xxs {
    font-size: 12px;
    color: #62666E !important;
  }
}

.q-custom-select {
  .q-field__control-container {
    border: 1px solid #256EFF;
    border-radius: 5px;
  }

  .q-field__append {
    display: none;
  }

  .q-chip {
    height: auto;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    background: transparent;
  }

}

.q-menu {
  max-height: 32vh !important;
  font-size: 90%;

  .q-virtual-scroll__content {
    padding: 5px;

    .q-item.q-item-type {
      padding: 5px;
      border-radius: 6px;
      max-width: 240px!important;
    }

    .q-item__label {
      padding-left: 0 !important;
    }

    .q-item__section--avatar {
      min-width: 10px !important;
    }
  }
}

.inline-select.q-field--disabled .q-field__control > div {
  opacity: 1 !important;
}

.inline-select.q-select--with-input {
  .q-field__native {
    margin-top: 0;
  }
}

.inline-select {
    margin-top: -10px;
    width: 100%;

  .q-field__control,
  .q-field__native {
    height: 29px !important;
    min-height: 1px !important;
  }
  .q-field__native, .q-field__label, .q-field__input {

    padding-left: 0 !important;
  }

  .q-field__marginal {
    height: 29px !important;
    opacity: 0;
  }

  .q-field__control:before {
    border-bottom: none !important;
  }

  .q-select__dropdown-icon {
    color: #256EFF;
  }

  .q-anchor--skip {
    font-size: 100% !important;
    color: #256EFF !important;
  }

  //.selected-option-container {
  //  position: relative;
    //max-width: 200px;
    //text-overflow: ellipsis;
    //overflow: hidden;
    //white-space: nowrap;

    .selected-option-separator{
      color: #D8D8D8;
      font-size: 40%;
      position: absolute;
      top: 11px;
    }

    .selected-option-title {
      color: #D8D8D8;
      font-size: 13px;
      font-weight: 500;
      margin-left: 10px;
      position: relative;
      top: -4px;
    }

    .selected-option {
      color: #040404;
      font-size: 13px;
      font-weight: 500;

      max-width: 105px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      margin-top: -1px;
    }

    .q-field__input {
      font-size: 13px;
      font-weight: 500;
      margin-top: -4px;
    }
  }
//}

.inline-select:focus-within{
  .q-field__control:before {
    border-bottom: 0.5px solid #256EFF !important;
  }

  .q-field__marginal {
    opacity: 1;
  }
}

.inline-select:hover{
  .q-field__control:before {
    border-bottom: 0.5px solid #256EFF !important;
  }

  .q-field__marginal {
    opacity: 1;
  }
}

.inline-input {
  margin-top: -10px;
  width: 100%;

  .q-field__native {
    padding-left: 0 !important;
    height: 29px !important;
  }

  .q-field__marginal {
    height: 29px !important;
    opacity: 0;
  }

  .q-field__control:before {
    border-bottom: none !important;
  }

  .input-edit-icon {
    color: #256EFF;
  }

  .q-anchor--skip {
    font-size: 100% !important;
    color: #256EFF !important;
  }
}

.inline-input:focus-within{
  .q-field__control:before {
    border-bottom: 0.5px solid #256EFF !important;
  }

  .q-field__marginal {
    opacity: 1;
  }
}

.inline-input:hover{
  .q-field__control:before {
    border-bottom: 0.5px solid #256EFF !important;
  }

  .q-field__marginal {
    opacity: 1;
  }
}

.q-input-borderless {

  textarea{
    min-height: 500px;
  }

  .q-field__control:before {
    border: none !important;
  }
}

.fax-file-wrapper {
  height: 80px;
  width: 100%;
  border-radius: 4px;
  padding: 0 !important;
  border: 1px dashed #D8D8D8;

  #fileInput {
    position: relative;
  }

  .uploader-label {
    position: absolute;
    width: 100%;
    top: 3px;
    font-size: 14px;
    font-weight: 500;
  }

  .uploading-label {
    position: absolute;
    top: 28px;
    width: 100%;

    p {
      font-size: 12px;
    }
  }

  form {
    height: 14vh;
  }

  #fileInput.dragdrop .custom-file,
  #fileInput.dragdrop .custom-file-input {
    height: 100px;
  }

  #fileInput.dragdrop .custom-file-label {
    height: 80px;
    line-height: 90px;
    text-align: center;
    padding: 0;
    border: 1px dashed #D8D8D8;
    background: transparent;
  }

  #fileInput.dragdrop .custom-file-label span {
    visibility: hidden;
  }

  #fileInput.dragdrop label.custom-file-label:after {
    display: none !important;
  }
}

.q-field__native.q-input-pl-0{
  padding-left: 0 !important;
}

.q-field__native.q-input-pr-0{
  padding-right: 0 !important;
}

.q-field__native.q-input-pl-4{
  padding-left: 4px !important;
}

.q-field__native.q-input-pr-4{
  padding-right: 4px !important;
}

.q-input-composer {
  max-height: 31vh;

  ::-webkit-scrollbar {
   display: none;
  }
}

.q-input-composer textarea {
  resize: none !important;
  max-height: 31vh;
  overflow-y: auto !important;
}
.q-input-composer .q-field__native,
.q-input-composer .q-field__control {
  min-height: 0;
}

.contact-activity {
  max-width: 380px;
  &.q-expansion-item--expanded {
    &.q-expansion-item {
      border-radius: 12px;
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
    .q-item {
      border-bottom: 1px solid #EBEBEB;
      width: 100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  &.q-expansion-item--collapsed {
    .q-item {
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), rgba(37, 110, 255, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.communication-info {
  font-size: 14px;
  line-height: 18px;

  .communication-header {
    display: flex;
    align-items: center;
  }
  .form-control-label {
    color: #62666E;
    font-size: 12px;
    line-height: 15px;
    padding-left: 0px;
    vertical-align: top;
    white-space: initial;
  }
  .q-item__section--side {
    padding-left: 0px;
    padding-right: 0.5rem !important;
  }
}

.contact-activity-sender {
  border: 1px solid rgba(47, 128, 237, 0.25);
}

.font-weight-light-bold {
  font-weight: 500;
}

.message-composer-dropdown {
  .dropdown-menu {
    font-size: 0.85rem;
  }
}

.custom-multi-select.always-open {
  .multiselect__content-wrapper {
    display: block !important;
    position: relative;
  }
}


.custom-multi-select.multiselect--above.multiselect--active .multiselect__current,
.custom-multi-select.multiselect--above.multiselect--active .multiselect__input,
.custom-multi-select.multiselect--above.multiselect--active .multiselect__tags {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.custom-multi-select {
  .multiselect__content-wrapper {
    margin-top: 4px;
    position: absolute;
    border: none !important;
  }

  .multiselect__tags {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }

  .multiselect__option {
    padding: 5px !important;
    border-radius: 8px;
    min-height: 28px !important;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .multiselect__option--highlight {
    background: $grey-50;
    color: $grey-100;
    border-radius: 8px;
  }

  .multiselect__option--selected.multiselect__option--highlight {
    background: $grey-50;
    color: $grey-100;
  }

  .multiselect__placeholder {
    margin-bottom: 8px !important;
    padding-top: 0 !important;
    font-size: 13px;
  }

  .multiselect__element {
    margin-right: 4px;
  }
}

.badge-phone-info {
  font-size: 10px;
  font-weight: normal;
  color: $white;
}

.multiselect, .multiselect__input, .multiselect__single {
  font-size: 13px !important;
}
