// Spaces
$spaces: (
    "spacing-xxs": 4px,
    "spacing-xs": 8px,
    "spacing-s": 16px,
    "spacing-m": 24px,
    "spacing-l": 48px,
    "spacing-xl": 96px,
);

// Colors
$green: #00bf4a;
$dark: #15163f;
$black: #040404;
$grey-dark: #666666;
$grey-2: #989899;
$grey-light: #d8d8d8;
$grey-light2: rgb(244, 244, 246);
$grey-light3: #e4e4e4;
$grey-light4: #d2d2d2;
$grey-light5: #202125;
$grey-light6: #f6f6f6;
$grey-light7: #DFDFDF;
$grey-light8: #F6F6F6;
$grey-light9: #202125;
$grey-light10: #cccccc;
$grey-light11: #e0e0e0;
$grey-mid: #999999;
$white: rgb(255, 255, 255);
$orange-light: #FFF9F7;

// System Colors
$blue: #256eff;
$orange: #ff9f1c;
$red: #fa003f;
$light-green: #cff8df;
$light-green2: #F2FBF6;
$light-green3: #B2EBC8;
$flesh: #feefe5;
$light-red: #ffe8ee;
$light-blue: #e1ebfe;
$light-orange: #fff2df;

$white: #FFFFFF;

$grey-100: #040404;
$grey-90: #62666E;
$grey-80: #95989E;
$grey-70: #D8D8D8;
$grey-60: #EBEBEB;
$grey-50: #F4F4F6;
$grey-40: #F9F9FB;
